html {
    height: 100%;
    font-size: 1rem;
}

body {
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
}


/* Mehr Komplexität mit css selectoren  */

.card div.card-header {
    margin-top: 1rem;
    font-weight: bold;
}