body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    color: green;
    /* 1 rem meistens 16 pixel  */
    font-size: 2rem;
    border: 4px solid grey;
    /* Außerhalb des Rahmens den Abstand zu beinflussen, wäre Margin (margin-top für oben usw..) ;*/
    margin: 30px;
    /* Innerhalb des Rahmens den Abstand zu beinflussen, wäre Padding */
    padding: 50px;
    /* Margin und padding kommen noch dazu */
    width: 300px;
    height: 300px;
}

.container {
    width: 400px;
    margin-top: 0px;
    /* Hier wird es dann in der Mitte zentrier. Die Breite wäre eben 400 und der rest wird aufgeteilt.
    Also zentriert */
    margin-left: auto;
    margin-bottom: 0px;
    margin-right: auto;
}

.content-heading {
    color: yellow;
    font-size: 1.5rem;
}


/* Siehe Tool Tipp: Bezieht sich nur auf Elemente welche verschachtelt sind , also content-heading und heading number. Hier wäre es ein direktes Child. Aber es können x dazwischen sein.*/

.content-heading .heading-number {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkcyan;
}


/* Was komplexeres */

.heading-number;

/* Hier die Info für ID*/

#main-heading {
    color: blue;
}


/* Hier die Info für Class */

.content-heading {
    color: yellow;
}