* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }  

  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.2),
               -30px 0px 40px rgba(0,0,0,0.2);
  }

  .landing-page {
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    
  }

  body {
    background: #eee;
    height: auto;
    color: #505050;
    font-size: 1.25rem;
  }

  #main{
    margin:30px auto;
    padding:15px;
    border:0px solid;
    border-radius:5px;
    background:#eee;
  }

  #short {
      text-align: center;
      border:1px transparent;
      border-radius: 50%;
  }

  #tribute-details{
    text-align: center;
  }


  p {
    padding: 0 1rem; 
  }



  img{
    max-width: 100%; 
    display: block; 
    height: auto;
    margin: auto;
  }

  h1 {
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  h2 {
    font-weight: 300;
    font-size: 2.0rem;
    text-align: center;
  }

  h3{
    font-size: 2rem;
    padding: .5rem 1rem;
    text-align: center;
  }

  h4{
    font-size: 1rem;
    padding: .5rem 1rem;
    text-align: center;
  }

  div {
    font-family:"Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    color:#333; 
  }

  #img-caption {
   color:rgb(201, 201, 201);
   text-align: center;
  }

  footer {
    height: 50px;
    margin-top: 4rem;
    padding:1.2rem;
    background: #547480;
    color:#fff;
    font-size: .9rem;
    text-align: center;
  }


  