
/* Header image setting, because media is not working */
#header-img {
  width: 50%;
  height: 50%;
  display: block;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
  body {
      background-color: lightblue;
  }
}

@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
/* In general all should have this font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SET Body background  */
body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

#page-wrapper {
  position: flex  ;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/* Stylen der Klasse Buttons */
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  cursor: pointer;
}
.btn:hover {
  color: yellow;
}


/* Damit machen wir die Klasse Grid Flexibel */
.grid {
  display: flex;
}

/* Setzen des Navigation Bars, also das Top usw.. */
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}

#features {
  margin-top: 30px;

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: darkorange;

  }

  .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;

    @media (max-width: 550px) {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }
  
  @media (max-width: 650px) {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
  iframe {
    max-width: 560px;
    width: 100%;
  }
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

  #basic, #standard, #premium {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100%  / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    
    .level {
      background-color: #ddd;
      color: black;
      padding: 15px 0;
      width: 100%;
      text-transform: uppercase;
      font-weight: 700;
    }
    
    h2 {
      margin-top: 15px;
    }
    
    ol {
      margin: 15px 0;
      li { padding: 5px 0; }
    }

  }
  /* @media (max-width: 800px) {
    flex-direction: column;
    
    #basic, #standard, #premium { max-width: 300px; width: 100%; margin: 0 auto; margin-bottom: 10px; }
  } */
}

// hero

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
  h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }

  input[type="submit"] {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #f1c40f;
    
    &:hover {
      background-color: orange;
      transition: background-color 1s;
    }
  }


  footer {
    margin-top: 30px;
    background-color: #547480;
    padding: 20px;
    color: #fff;
    
    ul {
      display: flex;
      justify-content: flex-end;
      
      li {
        padding: 0 10px;
      }
    }
    span {
      margin-top: 5px;
      display: flex;
      justify-content: flex-end;
    }
  }